@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
    margin: 0;
    font-family: 'roboto';
}

.dark-bg {
    background-color: #1F2937;
}

.white-text {
    color: #f9faf8;
}

#header {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    font-weight: bolder;
    font-size: 24px;
}

#header a {
    text-decoration: none;
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    gap: 45px;
    align-items: center;
    font-weight: 400;
}

.nav-bar a {
    text-decoration: none;
    padding: 10px 20px;
}

.nav-bar a:hover {
    background-color: #3a567d;
    border-radius: 10px;
}

#main {
    display: flex;
}

.text-spacing {
    padding: 200px;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
}

.main-p {
    font-size: 18px;
    font-weight: 400;
    width: 700px;
}

.main-button {
    font-size: 18px;
    text-decoration: none;
    color: #f9faf8;
    background-color: #3882f6;
    padding: 10px 20px;
    border-radius: 10px;
}

.main-button:hover {
    background-color: #3a567d;
}

.main-img {
    padding-top: 70px;
}
