@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
    margin: 0;
    font-family: 'roboto';
}

.dark-bg {
    background-color: #1F2937;
}

.white-text {
    color: #f9faf8;
}

.secondary-text {
    color: #e5e7eb;
}

#header {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    font-weight: bolder;
    font-size: 24px;
}

#header a {
    text-decoration: none;
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    gap: 45px;
    align-items: center;
    font-weight: 400;
}

.nav-bar a {
    text-decoration: none;
    padding: 10px 20px;
}

.nav-bar a:hover {
    background-color: #3a567d;
    border-radius: 10px;
}

#main {
    display: flex;
}

.text-spacing {
    padding: 200px;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
}

.main-p {
    font-size: 18px;
    font-weight: 300;
    width: 700px;
}

.main-button {
    font-size: 18px;
    text-decoration: none;
    color: #f9faf8;
    background-color: #3882f6;
    padding: 10px 20px;
    border-radius: 10px;
}

.main-button:hover {
    background-color: #3a567d;
}

.main-img {
    padding-top: 70px;
}

#showcase {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin: 30px;
}

.image-row {
    display: flex;
    font-weight: 400;
    font-size: 18px;
    justify-content: center;
}

.showcase-block {
    display: flex;
    width: 200px;
    flex-wrap: wrap;
    padding: 10px 80px;
    justify-content: center;
    align-items: center;
}

.showcase-img {
    padding-bottom: 10px;
}

#quote {
    background-color: #e5e7eb;
    padding: 100px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 100;
    font-style: italic;
}

.quote-cite {
    display: flex;
    justify-content: end;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
}